.header{
    background-color: lightblue;
}

.headerWrapper{
    height: 64px;
    background-color: lightblue;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}